<launch>
  <node name="voxel_filter_node" pkg="voxel_pkg" type="voxel_filter_node" output="screen">
    <param name="input_pcd_file" value="$(find voxel_pkg)/data/251371071.pcd" />
    <param name="output_pcd_file" value="$(find voxel_pkg)/data/downsampled_new_pcd_pcd.pcd" />

    <!-- Arrange the voxel size according to your needs from this line -->
    <param name="m_leaf_size" value="0.5" />
    <param name="/use_sim_time" value="true" />

  </node>
</launch>
